.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #3b82f6;
  display: flex;
  justify-content: center;
  z-index: 10;
  padding:18px 320px;
}

.plusButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.plusIcon {
  font-size: 48px;
  color: white;
}
